<div>
  <div class="device-notification">
    <a class="device-notification--logo"
      href="https://docs.google.com/document/d/13BcdVeMOzxXyBMV4S9tGkb_YQla5RPTXOMBUb-VFAwA/edit?usp=sharing">
      <img src="assets/img/logo.png" alt="Global">
      <p>Addo Boakye Forison</p>
    </a>
    <p class="device-notification--message">Addo offer that we must request you orient your
      device to
      portrait or find a larger screen. You won't be disappointed.</p>
  </div>

  <div class="perspective effect-rotate-left">
    <div class="container">
      <div class="outer-nav--return"></div>
      <div id="viewport" class="l-viewport">
        <div class="l-wrapper">
          <header class="header">
            <a class="header--logo"
              href="https://docs.google.com/document/d/13BcdVeMOzxXyBMV4S9tGkb_YQla5RPTXOMBUb-VFAwA/edit?usp=sharing">
              <img src="assets/img/logo.png" alt="Global">
              <p>Addo Boakye Forison</p>
            </a>
            <button class="header--cta cta">Hire Me</button>
            <div class="header--nav-toggle">
              <span></span>
            </div>
          </header>
          <nav class="l-side-nav">
            <ul class="side-nav">
              <li class="is-active"><span>Home</span></li>
              <li><span>Works</span></li>
              <li><span>About</span></li>
              <li><span>Contact</span></li>
              <li><span>Hire me</span></li>
            </ul>
          </nav>
          <ul class="l-main-content main-content">
            <li class="l-section section section--is-active">
              <div class="intro">
                <div class="intro--banner">
                  <h1>Your expert<br>Full-stack<br>Engineer</h1>
                  <button class="cta">Hire Me
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118"
                      style="enable-background:new 0 0 150 118;" xml:space="preserve">
                      <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                        <path
                          d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                      </g>
                    </svg>
                    <span class="btn-background"></span>
                  </button>
                  <img src="assets/img/introduction-visual.png" alt="Welcome">
                </div>
                <div class="intro--options">
                  <a href="#0">
                    <h3>Front-end</h3>
                    <p>HTML, CSS, SASS, Bootstrap, Material UI, JavaScript, React, TypeScript, Angular, StoryBook,
                      Styled Components, Redux</p>
                  </a>
                  <a href="#0">
                    <h3>Back-end</h3>
                    <p>Node.js, Ruby, Ruby on Rails, Python, RESTful APIs, GraphQL, Apollo, Relay, PostgreSQL, Redis,
                      PHP, Laravel</p>
                  </a>
                  <a href="#0">
                    <h3>Testing</h3>
                    <p>RSpec, Capybara, Minitest, Pytest, Pest, PHPUNIT</p>
                  </a>
                  <a href="#0">
                    <h3>DevOps</h3>
                    <p>CI/CD, Heroku, Docker, Kubernetes, Datadog, Sentry, PostHog</p>
                  </a>
                </div>
              </div>
            </li>
            <li class="l-section section">
              <div class="work">
                <h2>Works</h2>
                <div class="work--lockup">
                  <ul class="slider">
                    <li class="slider--item slider--item-left">
                      <a href="#0">
                        <div class="slider--item-image">
                          <img src="assets/img/micoverse.jpeg" alt="Microverse">
                        </div>
                        <p class="slider--item-title">Microverse</p>
                        <p class="slider--item-description">Role: Technical Support Engineer <br />
                          Review over 300+ code, mentored over 20 juniors, Improved curriculum based on feedback </p>
                      </a>
                    </li>
                    <li class="slider--item slider--item-center">
                      <a href="#0">
                        <div class="slider--item-image">
                          <img src="assets/img/TL.png" alt="TL">
                        </div>
                        <p class="slider--item-title">TradeLink</p>
                        <p class="slider--item-description">Role: Full-stack Engineer <br />
                          Developed, features, resolved bugs, improved features based on APM results.
                        </p>
                      </a>
                    </li>
                    <li class="slider--item slider--item-right">
                      <a href="#0">
                        <div class="slider--item-image">
                          <img src="assets/img/satellite.png" alt="Satellite">
                        </div>
                        <p class="slider--item-title">Satellite</p>
                        <p class="slider--item-description">Role: Full-stack Engineer <br />
                          Layed out the architecture and Developed a Social media MVP</p>
                      </a>
                    </li>
                  </ul>
                  <div class="slider--prev">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118"
                      style="enable-background:new 0 0 150 118;" xml:space="preserve">
                      <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                        <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z" />
                      </g>
                    </svg>
                  </div>
                  <div class="slider--next">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118"
                      style="enable-background:new 0 0 150 118;" xml:space="preserve">
                      <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                        <path
                          d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                      </g>
                    </svg>
                  </div>
                </div>
              </div>

            </li>
            <li class="l-section section">
              <div class="about">
                <div class="about--banner">
                  <h2>A Strong team builder and leader, <br />with high level of personal morals and integrity</h2>
                  <a href="#0">Career
                    <span>
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118"
                        style="enable-background:new 0 0 150 118;" xml:space="preserve">
                        <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                          <path
                            d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                        </g>
                      </svg>
                    </span>
                  </a>
                  <img src="assets/img/about-visual.png" alt="About Me">
                </div>
                <div class="about--options">
                  <a href="#0" (click)="openModal('teacher')" id="tch">
                    <h3>Teacher</h3>
                  </a>
                  <div class="modal-wrapper" #teacherModal>
                    <div class="modal">
                      <article class="modal-container" #teacherModalBoundary>
                        <header class="modal-container-header">
                          <h1 class="modal-container-title">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                              aria-hidden="true">
                              <path fill="none" d="M0 0h24v24H0z" />
                              <path fill="currentColor"
                                d="M14 9V4H5v16h6.056c.328.417.724.785 1.18 1.085l1.39.915H3.993A.993.993 0 0 1 3 21.008V2.992C3 2.455 3.449 2 4.002 2h10.995L21 8v1h-7zm-2 2h9v5.949c0 .99-.501 1.916-1.336 2.465L16.5 21.498l-3.164-2.084A2.953 2.953 0 0 1 12 16.95V11zm2 5.949c0 .316.162.614.436.795l2.064 1.36 2.064-1.36a.954.954 0 0 0 .436-.795V13h-5v3.949z" />
                            </svg>
                            Teacher
                          </h1>
                        </header>
                        <section class="modal-container-body rtf">
                          <p>Ghana Education Service - Onsite</p>
                          <p>Teacher - full-time</p>
                          <small>September 2013 - January 2016</small>

                          <ul>
                            <li>Delivered mathematics curriculum and provided tutorial assistance to junior students.
                            </li>
                            <li>Substituted as a Social Studies teacher for junior high school students.</li>
                            <li>Formed a new math club, called the 'Mathians'.</li>
                            <li>Introduced a mandatory evening studies on campus.</li>
                            <li>improve performance in mathematics, in my first year and achived a 100% pass rate in my
                              second year.</li>
                          </ul>

                        </section>
                        <footer class="modal-container-footer">
                          <button class="button is-primary" (click)="closeModal()">Close</button>
                        </footer>
                      </article>
                    </div>
                  </div>

                  <a href="#0" (click)="openModal('tse')" id="tse">
                    <h3>TS Engineer</h3>
                  </a>
                  <div class="modal-wrapper" #tsEngineerModal>
                    <div class="modal">
                      <article class="modal-container" #tseModalBoundary>
                        <header class="modal-container-header">
                          <h1 class="modal-container-title">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                              aria-hidden="true">
                              <path fill="none" d="M0 0h24v24H0z" />
                              <path fill="currentColor"
                                d="M14 9V4H5v16h6.056c.328.417.724.785 1.18 1.085l1.39.915H3.993A.993.993 0 0 1 3 21.008V2.992C3 2.455 3.449 2 4.002 2h10.995L21 8v1h-7zm-2 2h9v5.949c0 .99-.501 1.916-1.336 2.465L16.5 21.498l-3.164-2.084A2.953 2.953 0 0 1 12 16.95V11zm2 5.949c0 .316.162.614.436.795l2.064 1.36 2.064-1.36a.954.954 0 0 0 .436-.795V13h-5v3.949z" />
                            </svg>
                            Technical Support Engineer
                          </h1>
                        </header>
                        <section class="modal-container-body rtf">
                          <p>Microverse - California, USA (Remote)</p>
                          <p>Technical Support Engineer full-time</p>
                          <small>August 2019 - June 2021</small>

                          <ul>
                            <li>Conducted 300+ in-depth code reviews in Ruby, Rails, JavaScript, and React/Redux.</li>
                            <li>Mentored over 15 students in technical and professional skills, focusing on Rails and
                              React
                              projects.</li>
                            <li>
                              Managed a team of 8 code reviewers, refining review guidelines for improved feedback
                              clarity.
                            </li>
                            <li>
                              Proposed and new improvement to the curriculum.
                            </li>
                            <small>
                              <b>Technologies: </b> Ruby, Rails, RSpec, PostgreSQL, React, Redux, HTML, CSS, SCSS,
                              JavaScript,
                              node.js.
                            </small>
                          </ul>
                        </section>
                        <footer class="modal-container-footer">
                          <button class="button is-primary" (click)="closeModal()">Close</button>
                        </footer>
                      </article>
                    </div>
                  </div>

                  <a href="#0" (click)="openModal('fse')" id="fse">
                    <h3>FS Engineer</h3>
                  </a>
                  <div class="modal-wrapper" #fsEngineerModal>
                    <div class="modal">
                      <article class="modal-container" #fseModalBoundary>
                        <header class="modal-container-header">
                          <h1 class="modal-container-title">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                              aria-hidden="true">
                              <path fill="none" d="M0 0h24v24H0z" />
                              <path fill="currentColor"
                                d="M14 9V4H5v16h6.056c.328.417.724.785 1.18 1.085l1.39.915H3.993A.993.993 0 0 1 3 21.008V2.992C3 2.455 3.449 2 4.002 2h10.995L21 8v1h-7zm-2 2h9v5.949c0 .99-.501 1.916-1.336 2.465L16.5 21.498l-3.164-2.084A2.953 2.953 0 0 1 12 16.95V11zm2 5.949c0 .316.162.614.436.795l2.064 1.36 2.064-1.36a.954.954 0 0 0 .436-.795V13h-5v3.949z" />
                            </svg>
                            FullStack Engineer
                          </h1>
                        </header>
                        <section class="modal-container-body rtf">

                          <p>WRepit - Texas, USA (Remote)</p>
                          <p>Full-Stack Developer, freelance part-time</p>
                          <small>November 2023 - Present</small>
                          <ul>
                            <li>Developed optical character recognition using Python and YOLOv5, enhancing model
                              accuracy by
                              40%.
                            </li>
                            <li>Implemented a robust authentication system with account lock and phone verification,
                              ensuring
                              100% user privacy.</li>
                            <li>Achieved 100% test coverage on the codebase.</li>
                            <li>Introduced efficient remote work culture with tools for transparency and accountability.
                            </li>
                            <li>Containerized the application.</li>
                            <li>Implemented continuous delivery and integration using gitlab-ci.</li>
                            <li>Set up Datadog APM for performance measuring</li>
                            <small>
                              <b>Technologies: </b> Ruby, Rails, RSpec, PostgreSQL, Python, YOLOv5, React,
                              TypeScript, OAuth, Material UI, Twilio, Docker, Apollo Client, GraphQL, CI/CD, Jest.
                            </small>
                          </ul>

                          <p>Tradelink.co - Munich, Germany (Remote)</p>
                          <p>Full-Stack Developer</p>
                          <small>July 2021 - September 2023</small>
                          <ul>
                            <li>
                              Improved performance by 50% by refactoring legacy code from server side embedded ruby
                              template
                              to React.
                            </li>
                            <li>Transformed 70% of emails from plain text to HTML for enhanced communication.</li>
                            <li>Established error signals and log monitoring to detect and resolve bugs swiftly.</li>
                            <li>Integrated PostHog for 100% user activity tracking and advocated for its use across
                              teams.</li>
                            <li>Led the formation of a product response team for real-time customer issue resolution.
                            </li>
                            <li>Improve CI/CD pipeline to the satisfaction of the development.</li>
                            <li>Reduced query response times from 2000ms to 400ms with real-time features and optimised
                              queries.</li>
                            <small>
                              <b>Technologies: </b> Ruby, Rails, RSpec, PostgreSQL, React, Redux Toolkit, TypeScript,
                              Selenium,
                              Datadog, Sentry, CI/CD, REST API, GraphQL, Jest, Storybook, Redis, GitLab.
                            </small>
                          </ul>

                          <p>Satellite - New York, USA (Remote)</p>
                          <p>Full-Stack Developer</p>
                          <small>August 2020 - April 2021</small>
                          <ul>
                            <li>
                              Led the development of the alpha version of a social media application in an Agile
                              environment.
                            </li>
                            <li>Designed and implemented the backend, integrating chat functionality with CometChat Pro
                              API.</li>
                            <li>Achieved 70%+ coverage for unit tests in backend services and 100% coverage for frontend
                              services.</li>
                            <li>Deployed application to Heroku with integrated add-ons for enhanced functionality.</li>
                            <small>
                              <b>Technologies: </b> Ruby, Rails, RSpec, PostgreSQL, React, TypeScript, Redux Toolkit,
                              Minitest,
                              Capybara, Heroku.
                            </small>
                          </ul>

                        </section>
                        <footer class="modal-container-footer">
                          <button class="button is-primary" (click)="closeModal()">Close</button>
                        </footer>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="l-section section">
              <div class="contact">
                <div class="contact--lockup">
                  <div class="modal">
                    <div class="modal--information">
                      <p>Accra, Ghana</p>
                      <a href="mailto:addoboakyeforison@gmail.com">addoboakyeforison&#64;gmail.com</a>
                      <a href="tel:+233531450705">+233 531 450 705</a>
                    </div>
                    <ul class="modal--options">
                      <li><a href="https://github.com/Forison/">Github</a></li>
                      <li><a href="https://www.linkedin.com/in/forison">LinkedIn</a></li>
                      <li><a href="mailto:addoboakyeforison@gmail.">Email me</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="l-section section">
              <div class="hire">
                <h2>What I do</h2>
                <!-- checkout formspree.io for easy form setup -->
                <form class="work-request" [formGroup]="sendRequestForm" (ngSubmit)="onSubmit()">
                  <div class="work-request--options">
                    <span class="options-a">
                      <input id="opt-2" type="checkbox" value="FrontEnd" />
                      <label for="opt-2">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 111"
                          style="enable-background:new 0 0 150 111;" xml:space="preserve">
                          <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                            <path
                              d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z" />
                          </g>
                        </svg>
                        Front-end
                      </label>
                      <input id="opt-3" type="checkbox" value="BackEnd" />
                      <label for="opt-3">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 111"
                          style="enable-background:new 0 0 150 111;" xml:space="preserve">
                          <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                            <path
                              d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z" />
                          </g>
                        </svg>
                        Back-end
                      </label>
                    </span>
                    <span class="options-b">
                      <input id="opt-4" type="checkbox" value="FullStack" />
                      <label for="opt-4">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 111"
                          style="enable-background:new 0 0 150 111;" xml:space="preserve">
                          <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                            <path
                              d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z" />
                          </g>
                        </svg>
                        Full-stack
                      </label>
                      <input id="opt-5" type="checkbox" value="DevOps" />
                      <label for="opt-5">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 111"
                          style="enable-background:new 0 0 150 111;" xml:space="preserve">
                          <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                            <path
                              d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z" />
                          </g>
                        </svg>
                        DevOps
                      </label>
                    </span>
                  </div>
                  <div class="work-request--information">
                    <div class="information-name">
                      <input id="name" type="text" spellcheck="false" formControlName="name">
                      <label for="name">Name</label>
                    </div>
                    <div class="information-email">
                      <input id="email" type="email" spellcheck="false" formControlEmail="email">
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <input type="submit" value="Send Request">
                  <!-- <button class="work-request" type="submit">Send Request</button> -->
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="outer-nav">
      <li class="is-active">Home</li>
      <li>Works</li>
      <li>About</li>
      <li>Contact</li>
      <li>Hire me</li>
    </ul>
  </div>
</div>